<div class="row">
	<div class="col-md-12" style="padding: 20px;">
		<h4 style="text-align: center">Çerez (Cookie) Politikası Metni</h4>
		<p>
			Hüseyin Taştan Bilişim Hizmetleri firması tarafından gizliliğinize saygı duyulmakta ve veri güvenliğinize önem verilmektedir. Bu kapsamda sizleri “Çerez” (Cookie) hakkında bilgilendirmek ve aydınlatmak amacıyla işbu metin hazırlanmıştır.
			<br><br> <b>Bilgilendirme </b> <br>    <br>
			Birçok web sitesi, teknik, işlevsel, deneyim kalitesini arttırmak ve benzeri birçok sebepten “Çerez” (Cookie) kullanmaktadır. Aşağıda “çerez” (Cookie) kullanımımız, kullanıcıların bu çerezleri çeşitli mecralarda nasıl yönetebileceği açıklanmaktadır.
			Bu dokümanda açıklanan bilgiler, Kişisel Verilerin Korunması Kanunu çerçevesinde sitemizden erişilebilen Aydınlatma ve Açık Rıza metni ile bir bütün olarak değerlendirilmelidir.
			<br><br><b>Çerez (Cookie) Nedir? </b>    <br> <br>
			Çerez (Cookie), herhangi bir İnternet sitesi tarafından bilgisayara bırakılan bir tür tanımlama dosyasıdır. Çerez dosyalarında oturum bilgileri ve benzeri veriler saklanır. Çerez kullanan bir site ziyaret edildiğinde bu site, erişimin yapıldığı tarayıcıya sabit diske bir ya da daha fazla çerez bırakma konusunda talep gönderebilir.
			Çerezler, siteyi ziyaret eden kişilere ait isim, yaş, adres, cinsiyet gibi kişisel verileri barındırmazlar.
			Çerezler hakkında daha detaylı bilgi edinmek için lütfen www.aboutcookies.org ve www.allaboutcookies.org sitelerini ziyaret ediniz.
			<br><br><b>Çerez (Cookie) Tipleri Nelerdir?   </b> <br>    <br>
			Çerez’ler, kullanım amacı, süreleri ve oluşturanlar açısından çeşitli tiplere ayrılırlar.
			Çerez’i oluşturan ve yerleştiren tarafın kim olduğuna bağlı olarak web sitesi çerezleri ve üçüncü taraf çerezleri kullanılmaktadır. Üçüncü taraf çerezleri, web sitesinin iş ortaklarına, hizmet sağlayıcılarına ve iş birlikteliklerine bağlı olarak farklı şirketler tarafından yönetilebilmektedir.
			Çerezin kullanımda kaldığı süreye bağlı olarak session (oturum) çerezleri ve kalıcı çerezler kullanılabilmektedir. Oturum çerezleri, ziyaretçinin web sitesini ziyaret etmeyi bıraktığı an silinmektedir. Kalıcı çerezler ise çerezin kullanım amacına bağlı olarak belirlenmiş sürelerde ziyaret bitmiş olsa bile kullanıcının ziyaretçinin cihazında kalmaktadır.
			Çerezlerin kullanım amacına bağlı olarak web sitesinde reklam ve hedefleme çerezleri, deneyim kişiselleştirme çerezleri, doğrulama çerezleri, analiz/analitik çerezler ve teknik çerezler kullanılabilmektedir.
			<br><br><b>Çerezler Neden Kullanılır?   </b> <br>    <br>
			Web sitesinde çerezler, aşağıdaki amaçlar için kullanılabilir.
			Ziyaret ve deneyim kişiselleştirme, hedefleme, doğru ve amaca dönük reklam ve tanıtım faaliyetleri
			Web sitesi ve bileşenlerinin işlevlerinin doğru, kolay ve daha verimli çalışması
			Web sitesini, kaynak kullanımı, erişen bilgisi, ziyaretçi sayısı ve platformlarının tespiti gibi bilgileri analiz ederek performansı arttırmak ve kullanıcı deneyimini iyileştirmek
			Web sitesinin çalışması için gerekli olan işlevleri yerine getirmek
			Çerez Kullanımına Dair Kişisel Tercih Yönetimini Nasıl Yapabilirsiniz?
			Web sitemizin çalışması için gerekli olan bazı konularda çerez kullanımını tercihe bağlı olarak devre dışı bırakmak, web sitesinin doğru çalışmasına engel olabilmektedir. Bu tip çerezler ile ilgili terchilerinizi değiştirdiğinizde web sitemizden edineceğiniz bilgi ve ziyaret deneyiminizin aksamaya uğramayacağını garanti edemeyiz.
			<br><br><b></b>Bunun yanında bu tip olmayan diğer kategorideki çerezler için aşağıdaki yöntemleri kullanarak tercihlerinizi yönetebilirsiniz. </b> <br>    <br>
			Web sitemize erişmek için kullandığınız internet tarayıcı (browser) üzerindeki kendi ayarları değiştirebilirsiniz. Her tarayıcının çerez yönetimine ilişkin tekniği ve ayarları birbirinden farklı olabilir. Bunun için web sitemize erişmek için kullandığınız internet tarayıcının ayarlarına bakınız. Yardım menüsü içerisinde de zaman zaman gerekli bilgiler bulunmaktadır. Ayrıca https://www.aboutcookies.org adresinden de gerekli bilgilere erişmeniz mümkün olacaktır.
			Google tarafından sağlanan kişiye özel/kişiselleştirilmiş reklam deneyimini kapatmak için https://www.google.com/settings/ads adresini ziyaret ediniz ve açıklamaları/yönergeleri uygulayınız.
			Google Analytics tarafından yerleştirilen ve yönetilen çerezleri yönetmek/kapatmak için https://tools.google.com/dlpage/gaoptout adresini ziyaret ediniz ve açıklamaları/yönergeleri uygulayınız.
			Bunlardan bağımsız olan bir çok şirketin reklam ve tanıtım aktiviteleri ile ilgili kullandığı çerezlere dair tercihler için bilgi ve yönergelere https://www.youronlinechoices.com/tr/reklam-tercihleriniz adresinden ulaşabilirsiniz.
			Akıllı telefon, tablet gibi cihazların çerez yönetimine dair bilgi ve ayarlara, ilgili cihazın işletim sistemi ve uygulamaları üzerinden erişebilir ve bunları değiştirebilirsiniz.
		</p>
	</div>
</div>
